<div style="margin-top:2.3%" class="example-container">
    <!-- <form class="example-container" [formGroup]="options">
      <div>
        <label>Float label: </label>
        <mat-radio-group formControlName="floatLabel">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
          <mat-radio-button value="never">Never</mat-radio-button>
        </mat-radio-group>
      </div>
    </form> -->

    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="auto">
      <input matInput placeholder="Name" required>
    </mat-form-field>

<div>
    <mat-form-field style="padding-right:1rem">
        <input matInput [matDatepicker]="dtpLoanTransaction" placeholder="Choose loan transaction date">
        <mat-datepicker-toggle matSuffix [for]="dtpLoanTransaction"></mat-datepicker-toggle>
        <mat-datepicker #dtpLoanTransaction></mat-datepicker>
      </mat-form-field>
      <mat-form-field [floatLabel]="auto" style="padding-right:1rem">
          <input matInput placeholder="No. of months">
        </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="dtpLoanEnd" placeholder="Choose loan end date">
          <mat-datepicker-toggle matSuffix [for]="dtpLoanEnd"></mat-datepicker-toggle>
          <mat-datepicker #dtpLoanEnd></mat-datepicker>
        </mat-form-field>
</div>
    <mat-form-field [floatLabel]="auto">
        <input matInput placeholder="Fixed interest rate">
      </mat-form-field>
    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="auto">
      <mat-select required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">ROBOR3M</mat-option>
      </mat-select>
      <mat-label>Variable rate</mat-label>
    </mat-form-field>
      <mat-checkbox>
        Daily mail
      </mat-checkbox>
  </div>
  <button style="float:right" mat-stroked-button color="primary">Save</button>
